/* coupled with report.css */
@media screen and (max-width: 576px) {
    .containers {
        padding: 0 5px 0 5px !important;
    }
}

.title {
    margin-top: 2%;
}

.form {
    margin-top: 15%;
    margin-bottom: 15%;
}

.input {
    margin-bottom: 2%;
}

.tdForButtons {
    display: flex;
}

#editButton {
    margin-right: 5px;
}