/* coupled with report.css */
@media screen and (max-width: 576px) {
    .containers {
        padding: 0 5px 0 5px !important;
    }
}

.title {
    margin-top: 2%;
}

.form {
    margin-top: 15%;
    margin-bottom: 15%;
}

.input {
    margin-bottom: 2%;
}

.tdForButtons {
    display: flex;
}

#editButton {
    margin-right: 5px;
}

.dateCol {
    min-width: 100px;
}

.typeCol {
    min-width: 110px;
}

.bg1 {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(218, 244, 250), rgb(255, 255, 255));
}

.bg2 {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(234, 226, 247), rgb(255, 255, 255));
}