/* coupled with accounting.css */
@media screen and (max-width: 576px) {
    .containers {
        padding: 0 5px 0 5px !important;
    }
} 

.summaryContainer {
    margin: 2% 0 3% 0;
}

.summaryRow {
    height: 200px;
}

div.chartBox {
    padding: 0;
    height: 100%;
}
