/* coupled with accounting.css */
@media screen and (max-width: 576px) {
    .containers {
        padding: 0 5px 0 5px !important;
    }
} 

.summary {
    margin: 2% 0 3% 0;
}

div.chart {
    border: black;
    border-style: solid;
}